@import "tailwindcss";
@layer base, components, utilities;


.leaflet-container,
.pigeon-maps,
.pigeon-attribution,
.pigeon-tile {
  background: transparent !important;
}

html,
body {
  background: url("/images/fondo-tula.png") no-repeat center center fixed !important;
  background-size: cover !important;
}
