@import "tailwindcss";
@layer base, components, utilities;

/* Quita el fondo blanco del mapa de pigeon-maps */
.leaflet-container,
.pigeon-maps,
.pigeon-attribution,
.pigeon-tile {
  background: transparent !important;
}

